@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* CUSTOM */
  --breakpoint-xs-18: 21.125rem; /* 338px */
  --breakpoint-xs-17: 22.5rem; /* 360px */
  --breakpoint-xs-16: 21.25rem; /* 340px */
  --breakpoint-xs-15: 21.75rem; /* 348px */
  --breakpoint-xs-14: 23.313rem; /* 373px */
  --breakpoint-xs-13: 23.063rem; /* 369px */
  --breakpoint-xs-12: 24.875rem; /* 398px */
  --breakpoint-xs-11: 28.5rem; /* 456px */
  --breakpoint-xs-10: 30.625rem; /* 490px */
  --breakpoint-xs-9: 33.125rem; /* 530px */
  --breakpoint-xs-8: 25.25rem; /* 404px */
  --breakpoint-xs-7: 24.438rem; /* 391px */
  --breakpoint-xs-6: 28rem; /* 432px */
  --breakpoint-xs-5: 24rem; /* 384px */
  --breakpoint-xs-4: 22.188rem; /* 355px */
  --breakpoint-xs-3: 25.1875rem; /* 403px */
  --breakpoint-xs-2: 26.563rem; /* 425px */
  --breakpoint-xs-1: 29.0625rem; /* 465px */
  --breakpoint-xs: 36rem; /* 576px */
  --breakpoint-sm-7: 43rem; /* 688px */
  --breakpoint-sm-6: 43.375rem; /* 694px */
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-sm-5: 32.375rem; /* 518px */
  --breakpoint-sm-4: 34rem; /* 544px */
  --breakpoint-sm-3: 36.563rem; /* 585px */
  --breakpoint-sm-2: 39rem; /* 625px */
  --breakpoint-sm-1: 44.2rem; /* 707px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-md-3: 54.75rem; /* 876px */
  --breakpoint-md-2: 50rem; /* 786px */
  --breakpoint-md-1: 52rem; /* 825px */
  --breakpoint-lg-3: 58.75rem; /* 940px */
  --breakpoint-lg-1: 61rem; /* 970px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-lg-2: 67.5rem; /* 1080px */
  --breakpoint-vl: 70rem; /* 1120px */
  --breakpoint-vl-2: 72.5rem; /* 1160px */
  --breakpoint-vl-1: 76rem; /* 1215 */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-xl-1: 84rem; /* 1340px */
  --breakpoint-2xl: 96rem; /* 1536px */
  --breakpoint-3xl: 106.75rem;
  --breakpoint-4xl: 123.125rem; /* 1970px */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  margin: 0px;
}

.glass-button {
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.active-nav {
  background-color: #3c2d5275;
  box-shadow: 0px 6px 49px 12px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 6px 49px 12px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 6px 49px 12px rgba(0, 0, 0, 0.24);
  padding: 10px;
  border-radius: 100px;
}

.amaranth-regular {
  font-family: 'Amaranth', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.actor-regular {
  font-family: 'Actor', sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.flip-card {
  background-color: transparent;
  width: 100px;
  height: 100px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border: 1px solid #bbb;
  border-radius: 15px;
}

.flip-card-back {
  background-color: #fff;
  color: black;
  transform: rotateY(180deg);
  border: 1px solid #fff;
  border-radius: 15px;
}

.tab-animation {
  transform-origin: bottom;
  transform: scaleY(1);
  transition: transform 300ms ease;
}

.tab-animation:hover {
  transform: scaleY(1.25);
  cursor: pointer;
}

.tab-animation:hover > * {
  transform: scaleY(0.8);
}

.jetbrains-mono-heading-medium {
  font-family: 'JetBrains Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.jetbrains-mono-heading-normal {
  font-family: 'JetBrains Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.led-light-text {
  color: #f3e0fa;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 5px 40px #f3e0fa, 0px 5px 40px #f3e0fa,
    0px 5px 40px #f3e0fa;
}

.border-led-light {
  color: #f3e0fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 5px 40px #f3e0fa;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.blue-arrow-up {
  border-bottom: 20px solid #fff5b3;
}

.blue-arrow-down {
  border-top: 20px solid #ffeb69;
}

.magenta-arrow-up {
  border-bottom: 20px solid #b48aee;
}

.magenta-arrow-down {
  border-top: 20px solid #8768b2;
}

.pink-arrow-up {
  border-bottom: 20px solid #fae0fa;
}

.pink-arrow-down {
  border-top: 20px solid #e4bee4;
}

.light-blue-arrow-up {
  border-bottom: 20px solid #e0e3fa;
}

.light-blue-arrow-down {
  border-top: 20px solid #b0b4d9;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.led-light-arrow-up {
  filter: drop-shadow(0px 2px 8px #778194f5);
}

.led-light-arrow-down {
  filter: drop-shadow(0px 2px 8px #778194f5);
}

.neonderthaw-regular {
  font-family: 'Neonderthaw', cursive;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2d233c;
}

::-webkit-scrollbar-thumb {
  background: #433358;
  border-radius: 10px;
}
